<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="design.css">
	<meta charset="utf-8">
	<title>USKT</title>
</head>
<body>


<div class="main">

	<div class="logo">
		<img src="logo.png">
	</div>

	<div class="nav_bar">
		
<ul>
	<li><a href="">Merit List</a></li>
	<li><a href="">TimeTable</a></li>
	<li><a href="">Contact US</a></li>
	<li><a href="">USKT Magzine</a></li>
	<li><a href="">Downloads</a></li>
	<li><a href="">Auire LMS</a></li>
</ul>
	</div>
	
	</div>



<div class="banner">
		<img src="banner.jpg" width="100%">
	</div>




<div class="banner-bottom">
	<div class="banner1">
		<img src="BR.jpg">
		<div class="text1">
			
		</div>
	</div>
<div class="banner2">
<img src="2.jpg">	
<div class="text2">
	<h2>Merit List</h2>
	<h3>View</h3>
</div>

</div>
<div class="banner3">
	<img src="3.jpg">
	<div class="text3">
		<h2>Time Table</h2>
		<h3>View</h3>
	</div>
</div>

</div>
	


	</div>	
<div class="category4">
	<img src="4.jpg">
	<div class="text4">
		<img src="b5.png">



</div></div>

	</div>
	<div class="border">
<img src="line.jpg">
	</div>
	<div class="products">
	<h1> News and Events</h1>
	</div>
	<div class="features2">
		<div class="images1">
			<img src="BR">
			<p></p>
			
		</div><div class="space1">
		<div class="images2">
			<img src="2">
			
		</div></div>
		<div class="space2">
		<div class="images3">
			<img src="3">
		</div></div>
		<div class="space3">
		<div class="images4">
			<img src="4">
			
		</div></div>
	</div>
	<div class="border">
<img src="line.jpg">
	</div>
	<div class="information">
		<div class="info">
			<h1>INFORMATION</h1>
					<ul>
	<li><a href="">Home</a></li>
	<li><a href="">About us</a></li>
	<li><a href="">Inquiry Basket</a></li>
	<li><a href="">Sitemap</a></li>
	<li><a href="">Contact Us</a></li>
	

		</div>
		<div class="newsletter">
			<h1>NEWSLETTER</h1>
			<div class="search">
<form>
<input type="text" name="search" placeholder="Enter a Email...">


</form>
</div>


		<div class="skype">
			<ul><li><a href=""><img src="skype.jpg"></a></li>
		
	
			<li><a href=""><img src="facebook.jpg"></a></li>
		
	
			<li><a href=""><img src="email.jpg"></a></li>
			</ul>
		
		
	</div>
</div>
</div>

	
</body>
</html>
   
